@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin: 0;
    background: #f6f6f6;
}
/* ===================================== SIDE-NAV =====================================  */

.side-nav{
    position: fixed;
    overflow: hidden;
    width: 5%;
    height: 100vh;
    background: #388087;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 5px;
}
.logo{
    height: 10%;
    background: #fff;
      width: 100%;
      display: flex;
      justify-content: center;
}
.logo h1{
    font-weight: 700;
    color: #388087;;
    font-family: 'oswald';
    font-size: 24px;
}
.nav-items{
    height: 60%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.nav-items a{
    color: #fff;
    transition: 0.3s;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.nav-items a:hover{
    color:#fff;
    border-left: 3px solid #fff;
}
.nav-items a i{
    font-size: 16px;
}
/* ===================================== TOP-NAV =====================================  */
.top-nav{
    position: fixed;
    height: 10vh;
    background: #388087;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 5%;
    z-index: 99;
}
.user-text{
    width: 30%;
    margin-left: 2%;
    height: 80%;
    display: flex;
    align-items: center;
}
.user-text h1{
        font-size: 25px;
        font-weight: 600;
        font-family: 'poppins';
        color: #fff;
}
.icons{
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.icons div{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins';
    transition: 0.2s;
    cursor:pointer;
    color: #f6f6f6;
}
.icons div:hover{
    color: #388087;
}
.icons div i{
    font-size: 15px;
    margin-top: 30px;
}
.icons div p{
    font-size: 12px;
}
/* ===================================== PROFILE AREA =====================================  */
.profile-area{
    width: 95%;
    height: auto;
    margin-left: 5%;
 
}
.profile-box{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh; 
}
/* ====================== FIRST AREA  ======================   */
.first-part{
    width: 60%;
    height: auto;
}
.first-part h1{
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 400;
    color: #787878;
}
/* ================== BASIC INFO  ==================*/
.basic-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.first-area{
    display: flex;
    justify-content: space-between;
    height: 50%;

}
.profile-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-image img{
    width: 23%;
    border-radius: 100%;
    height: 80%;
    object-fit: cover;
    /* border-radius: 50%; */
}
.name-box h4{
    font-weight: 500;
    color: #6c6c6c;
    font-weight: 700;
    font-family: Quicksand;
}
.name-box p{
    margin-top: -20px;
    font-family: poppins;
    font-size: 12px;
}
.mail{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail h4{
    color: #6c6c6c;
    font-weight: 700;
    font-family: Quicksand;
}
.mail p{
    margin-top: -20px;
    font-family: poppins;
    font-size: 12px;
}
.second-part{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    border-bottom: 1px solid #6c6c6c;
}
.second-part div{
    border-left: 1px solid #6c6c6c;
 
    width: 20%;
    padding-left: 10px;
}
.second-part P:nth-child(1){
    color: #6c6c6c;
    font-weight: 600;
    font-size: 12px;
}
.second-part p:nth-child(2){
    font-weight: 500;
    font-size: 20px;

}
/* ============== PROFILE DETAILS ============== */
.profile-details{
    width: 90%;
    margin-top: 5vh;
    height: 300px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Quicksand';
}
.profile-details i{
    color: #388087;
}
.profile-details hr{
    margin-top: 5px;
}
.profile-details-header{
    padding:0 10px ;
    display: flex;
    align-items: center;
    gap: 4px;
}
.profile-details-header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 4px;
    margin-left: auto;
}
.profile-info{
    width:80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.profile-info span{
    width: 48%;
}
.profile-info span{
    display: flex;
    gap: 5%;
    align-items: center;
}
.profile-info span{
    font-weight: 600;
}
.profile-info span p{
    font-size: 15px;
    font-weight: 300;
}

/* ====================== TRANSACTION DETAILS  ======================   */
.transaction-details{
    width: 90%;
    margin-top: 5vh;
    height: 350px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Quicksand';
}
.transaction-details hr{
    margin-top: 5px;
}
.transaction-details-header{
    padding:0 20px ;
    display: flex;
    align-items: center;
    gap: 4px;
}
.transaction-details-header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 4px;
    margin-left: auto;
}
.short-transactions{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    font-family: 'quicksand';
}
.short-transactions ul{
    padding: 0;
}
.short-transactions ul li{
   list-style: none; 
   font-size: 13px;
   margin-top: 20px;
}
.short-transactions ul h4{
    font-size:13px;
    font-weight: 600;
    text-align: center;
}
.transaction-details span{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}
/* ====================== SECOND AREA  ======================   */
.second-side{
    width: 30%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

}
/*================= ACCOUNT CARD ================= */
.account-info-area{
    width: 370px;
    height: 300px;
    background: #fff;
    border-radius: 1px;
    margin-top: 2vh;
    position: fixed;
    font-family: 'quicksand';
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.info-box{
    width: 80%;
    margin: 0 auto;
}
.account-info{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
.account-info div{
    width: 48%;
  
}
.account-info div a{
    text-decoration: none;
    color: #000;
}
/* ================= LOAN HISTORY CARD=================*/
.loan-history{
    width: 370px;
    height: 300px;
    background: #fff;
    border-radius: 1px;
    position: fixed;
    font-family: 'quicksand';
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 55%;
}
.loan-history-area{
    width: 80%;
    margin: 0 auto;
}
.loan-history-area span{
    display: flex;
    align-items: center;
}
.loan-history-area span p{
    padding-left: 3px;
}
.loan-activites{
    height: 240px;
    display: flex;
    flex-direction: column;
    align-content: start;
}
.loan-info{
    display: flex;
    gap: 4px;
    align-items: center;
}
.loan-info p{
    font-weight: 600;
}
.loan-info h5{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.loan-info span, .loan-info i{
    color: #388087;
}
.see-more{
    font-weight: 400;
    font-size: 15px;
    display: flex;
    gap: 2px;
}
.see-more a{
    text-decoration: none;
    color: #388087;
}
