<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f0bfa4a648.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-- ========================================== SIDENAV DESKTOP==========================================-->
    <nav class="side-nav">
        <div class="logo">
            <h1>MARS</h1>
        </div>
        <div class="nav-items">
            <a href="#"> <i class="fa-solid fa-boxes-stacked"></i></a>
            <a href="#"><i class="fa-solid fa-money-bill-transfer"></i></a>
            <a href="#"> <i class="fa-solid fa-money-bill"></i></a>
            <a href="#"> <i class="fa-solid fa-credit-card"></i></a>
            <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i></a>
        </div>
    </nav>
    <!-- ========================================== TOP-NAV DESKTOP==========================================-->
    <nav class="top-nav">
        <div class="user-text">
            <h1>USER</h1>
        </div>
        <div class="icons">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search</p>
            </div>
          <div>
            <i class="fa-solid fa-bell"></i>
            <p>Notification</p>
          </div>
          <div>
            <i class=" toggler fa-solid fa-toggle-on" onclick="theme()"></i>
            <p>Darkmode</p>
          </div>
        </div>
    </nav>
    <!-- ========================================== PROFILE AREA DESKTOP==========================================-->
    <main class="profile-area">
        <section class="profile-box">
            <section class="first-part">
                <h1>View Profile</h1>
                <div class="basic-info">
                    <div class="first-area">
                        <div class="profile-image">
                            <!-- <img src="{{ profile_picture.url }}" alt=""> -->
                            <!-- {% if profile_image %} -->
                            <img src="/images/pfp1.jpeg" alt="">
                            <!-- <img src="{{ profile_image.url }}" alt="Profile Image"> -->
                        <!-- {% else %} -->
                            <!-- <p>.</p> -->
                        <!-- {% endif %} -->
                        <div class="name-box">
                            <h4>Halil Ibrahim</h4>
                            <p>Buisnessman</p>
                        </div>
                        </div>
                        <div class="mail">
                            <h4>Mail</h4>
                            <p>halil2@gmail.com</p>
                        </div>
                    </div>
                    <div class="second-part">
                        <div>
                            <p>VERIFIED</p>
                            <p>YES</p>
                        </div>
                        <div>
                            <p>CARD</p>
                            <p>YES</p>
                        </div>
                        <div>
                            <p>LOAN</p>
                            <p>Pending</p>
                        </div>
                        <div>
                            <p>TRANSACTIONS</p>
                            <p>50</p>
                        </div>
                    </div>
                    
                   
                </div>
            </section>
            <section class="second-side">
                <div class="account-info-area">
                   <div class="info-box">
                    <h1>Account Info</h1>
                    <div class="account-info">
                        <div>
                            <p>Creation Date</p>
                            <h5>Nov. 20, 2023, 1:21 p.m</h5>
                        </div>
                        <div>
                            <p>Edit Profile</p>
                            <a href="{% url 'edit_user' %}"><h5>Edit</h5></a>

                        </div>
                        <div>
                            <p>Pending Loans</p>
                            <h5>YES</h5>
                        </div>
                        <div>
                            <p>Profile Picture</p>
                            <a href="{% url 'upload_profile_image' %}"><h5>Add Profile</h5></a>
                        </div>
                    </div>
                   </div>
                   <div class="loan-history">
                    <div class="loan-history-area">
                        <span><i class="fa-solid fa-arrow-right-from-bracket"></i><p>Loan History</p></span>
                    </div>
                   </div>
                </div>
            </section>
        </section>
    </main>
    <script src="index.js"></script>
</body>

</html>