<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f0bfa4a648.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-- ========================================== SIDENAV DESKTOP==========================================-->
    <nav class="side-nav">
        <div class="logo">
            <h1>MARS</h1>
        </div>
        <div class="nav-items">
            <a href="#"><i class="fa-solid fa-house-chimney"></i></a>
            <a href="#"><i class="fa-solid fa-money-bill-transfer"></i></a>
            <a href="#"> <i class="fa-solid fa-money-bill"></i></a>
            <a href="#"> <i class="fa-solid fa-credit-card"></i></a>
            <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i></a>
        </div>
        <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </nav>
    <!-- ========================================== TOP-NAV DESKTOP==========================================-->
    <nav class="top-nav">
        <div class="user-text">
            <h1>USER</h1>
        </div>
        <div class="icons">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search</p>
            </div>
          <div>
            <i class="fa-solid fa-bell"></i>
            <p>Notification</p>
          </div>
          <div>
            <i class=" toggler fa-solid fa-toggle-on" onclick="theme()"></i>
            <p>Darkmode</p>
          </div>
        </div>
    </nav>
    <!-- ========================================== PROFILE AREA DESKTOP==========================================-->
    <main class="profile-area">
        <section class="profile-box">
            <!-- ==================== LEFT SIDE ====================-->
            <section class="first-part">
                <h1>View Profile</h1>
                  <!-- ==================== BASIC INFO BOX ====================-->
                <div class="basic-info">
                    <div class="first-area">
                        <div class="profile-image">
                            <!-- <img src="{{ profile_picture.url }}" alt=""> -->
                            <!-- {% if profile_image %} -->
                            <img src="/images/pfp1.jpeg" alt="">
                            <!-- <img src="{{ profile_image.url }}" alt="Profile Image"> -->
                        <!-- {% else %} -->
                            <!-- <p>.</p> -->
                        <!-- {% endif %} -->
                        <div class="name-box">
                            <h4>Halil Ibrahim</h4>
                            <p>Buisnessman</p>
                        </div>
                        </div>
                        <div class="mail">
                            <h4>Mail</h4>
                            <p>halil2@gmail.com</p>
                        </div>
                    </div>
                    <div class="second-part">
                        <div>
                            <p>VERIFIED</p>
                            <p>YES</p>
                        </div>
                        <div>
                            <p>CARD</p>
                            <p>YES</p>
                        </div>
                        <div>
                            <p>LOAN</p>
                            <p>Pending</p>
                        </div>
                        <div>
                            <p>TRANSACTIONS</p>
                            <p>50</p>
                        </div>
                    </div>
                </div>
                 <!-- ==================== PROFILE DETAILS BOX ====================-->
                 <div class="profile-details">
                    <div class="profile-details-header">
                        <i class="fa-solid fa-address-card"></i><p>Profile Details</p>
                        <a href="#"><i class="fa-regular fa-user"></i><h5>Edit Profile</h5></a>
                      
                    </div>
                    <hr>
                    <div class="profile-info">
                        <span>Name: <p>Namikpoh Tarilate Mishael</p></span>
                        <span>Email: <p>halil2@gmail.com</p></span>
                        <span>Phone: <p>08067230232</p></span>
                        <span>Occupation: <p>Banker</p></span>
                        <span>Date of Birth: <p>June 16 2004</p></span>
                        <span>Username: <p>Ruki</p></span>
                    </div>
                 </div>
                 <!--  ==================== TRANSACTION BOX ==================== -->
                 <div class="transaction-details">
                    <div class="transaction-details-header">
                        <i class="fa-solid fa-chart-line"></i><p>Transaction History</p>                      
                    </div>
                    <hr>
                    <span></span>
                    <div class="short-transactions">
                        <ul>
                            <h4>Transaction Type</h4>
                            <li>Bills</li>
                            <li>Transfer</li>
                            <li>Bills</li>
                            <li>Transfer</li>
                        </ul>
                        <ul>
                            <h4>Transaction Description</h4>
                            <li>Airtime</li>
                            <li>Transfer to Tari</li>
                            <li>Airtime</li>
                            <li>Transfer to Tari</li>
                        </ul>
                        <ul>
                            <h4>Transaction Amount</h4>
                            <li>3500.00</li>
                            <li>20000.00</li>
                            <li>3500.00</li>
                            <li>20000.00</li>
                        </ul>
                        <ul>
                            <h4>Phone Number</h4>
                            <li>08067230232</li>
                            <li>None</li>
                            <li>08067230232</li>
                            <li>None</li>
                        </ul>
                        <ul>
                            <h4>Account Number</h4>
                            <li>None</li>
                            <li>2959357274</li>
                            <li>None</li>
                            <li>2959357274</li>
                        </ul>
                    </div>
                    <span class="see-more"><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>See all</a></span>
                 </div>
            </section>
              <!-- ==================== RIGHT SIDE ====================-->
            <section class="second-side">
                  <!-- ==================== ACCOUNT INFO AREA ====================-->
                <div class="account-info-area">
                   <div class="info-box">
                    <h1>Account Info</h1>
                    <div class="account-info">
                        <div>
                            <p>Creation Date</p>
                            <h5>Nov. 20, 2023, 1:21 p.m</h5>
                        </div>
                        <div>
                            <p>Edit Profile</p>
                            <a href="{% url 'edit_user' %}"><h5>Edit</h5></a>

                        </div>
                        <div>
                            <p>Pending Loans</p>
                            <h5>YES</h5>
                        </div>
                        <div>
                            <p>Profile Picture</p>
                            <a href="{% url 'upload_profile_image' %}"><h5>Add Profile</h5></a>
                        </div>
                    </div>
                   </div>
                     <!-- ==================== LOAN AREA ====================-->
                   <div class="loan-history">
                    <div class="loan-history-area">
                        <span><i class="fa-solid fa-arrow-right-from-bracket"></i><p>Loan History</p></span>
                        <div class="loan-activites">
                            <div class="loan-info">
                                <i class="fas fa-money-bill"></i>
                                <p>Approved</p>
                                <h5><span>NGN</span>20,000</h5>
                            </div>
                            <div class="loan-info">
                                <i class="fas fa-money-bill"></i>
                                <p>Pending</p>
                                <h5><span>NGN</span>5,000</h5>
                            </div>
                            <div class="loan-info">
                                <i class="fas fa-money-bill"></i>
                                <p>Approved</p>
                                <h5><span>NGN</span>10,000</h5>
                            </div>
                            <span class="see-more"><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>All history</a></span>
                        </div>
                    </div>
                   </div>
                </div>
            </section>
        </section>
    </main>
    <script src="index.js"></script>
</body>

</html>